@font-face {
    font-family: 'Baloo-Regular';
    src: url('../assets/Baloo-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Baloo-Regular';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --white: white;
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

.main {
    width: 100vw;
    background-color: #53d4fb;
    color: white;
    padding: 35px 45px;
}

.connect-btn {
    font-family: 'Baloo-Regular';
    color: black;
    border-radius: 15px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: none;
    height: 80;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.balance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-balance {}

.btn-container {
    /* display: flex;
    justify-content: end;
    padding: 25px; */
}

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80%;
    text-align: center;
}

.head {
    font-size: 30px;
    font-weight: 400;
}

.desc {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
}

.menu-icon {
    width: 25px;
    height: 25px;
    fill: var(--medium-gray);
    cursor: pointer;
}

.sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 75px;
    border-right: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    background-color: #22c5f6;
    top: var(--header-height);

}


.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

.sidebar .logo {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .logo {
    width: 90px;
    height: 90px;
}

.sidebar .logo>img {
    width: 100%;
    height: 100%;
}

.middle-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
}

.bottom-sidebar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.content {
    margin: 1rem;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}


.sidebar-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4p;
    color: var(--white);
    text-decoration: none;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.sidebar-list-item {
    position: relative;
    width: 100%;
    fill: var(--white);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
}

.sidebar.open {
    width: 200px;
}

.your-channel {
    color: var(--dark-gray);
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .15rem;
    margin-top: .5rem;
}

.channel-name {
    color: var(--medium-gray);
    font-size: .75rem;
}

.sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.middle-sidebar .sidebar-list-item img {
    width: 40px;
    height: 40px;
}

.middle-sidebar .sidebar-list-item {
    text-align: center;
    margin-top: 20px;
}

.bottom-sidebar .sidebar-list-item {
    text-align: center;
    margin-top: 5px;
}

.card-container {
    /* margin-left: 22px; */
}

.card {
    width: 200px;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    margin-right: 15px;
}

.cid {
    text-align: right;
    font-weight: bolder;
    font-size: 18px;
    padding-right: 5px;

}

.duration {
    font-weight: bolder;
    font-size: 12px;
    padding-left: 5px;
}

.image {
    border-radius: 20px 20px 0px 0px;
}

.flex {
    display: flex;
}

.main-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 102px;
}

.space-between {

    justify-content: space-between;
}

.first-column {
    flex-grow: 1;
}

span {
    text-decoration: underline;
}



.active-link {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}