@font-face {
    font-family: 'Baloo-Regular';
    src: url('../assets/Baloo-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Baloo-Regular';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --white: white;
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

.main {
    width: 100vw;
    background-color: #53d4fb;
    color: white;
    padding: 40px 33px 0 57px;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}