
.card-st {
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    margin-right: 20px;
    margin-bottom: 6px;
}

.duration {
    
    font-weight: 400;
    font-size: 12px;
    color: black;
    line-height: 19px;
    padding-left: 9px;
}

.cid {
    
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;   
    color: #000000;
    text-align: right;
    padding-right: 9px;
}

.image {
    border-radius: 20px 20px 0px 0px;
}